body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #00ff6b !important;
    padding-left: 5%;
    padding-right: 5%;
}

.corpo {
    background: url("../assets/luck.png");
    width: 100%;
    height: 100%;
    background-size: auto;
}


